/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

# rspec failure tracking
.rspec_status

# OS files
.DS_Store

# Gem build artifacts
*.gem

# Environment
.env
.env.local
